@font-face {
    font-family: 'Ubuntu';
    src: url('/front/themes/chevro/font/Ubuntu/Ubuntu-Medium.eot');
    src: url('/front/themes/chevro/font/Ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('/front/themes/chevro/font/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
        url('/front/themes/chevro/font/Ubuntu/Ubuntu-Medium.woff') format('woff'),
        url('/front/themes/chevro/font/Ubuntu/Ubuntu-Medium.ttf') format('truetype'),
        url('/front/themes/chevro/font/Ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --rich-black-light: #101010;
    --eerie-black: #1a1a1a;
    --white: #fff;
    --sky-blue-crayola: #3fc7e2;
    --cyan-progress: #06ade4;
    --cg-blue: #057296;
    --medium-aquamarine: #0ce4b9;
    --white-transparent: #ffffff6b;
    --white-very-transparent: #ffffff1f;

    --eagle-blue: #004049;
    --eagle-blue-clear: #006370;
    --gainsboro: #e5e6ea;
    --gainsboro-overlay: rgba(229, 230, 234, 0.607);

    --background: url(/imgs/wes-hicks-2CErQcXbGLQ-unsplash.jpg);
    --background-small: url(/imgs/karl-bewick-reQNXC_J5M4-unsplash_small.jpg);
}

body {
    margin: 0;
    padding: 0;
    background: var(--rich-black-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

    background-color: var(--gainsboro);
    background-image: linear-gradient(0deg, var(--gainsboro-overlay), var(--gainsboro-overlay)), var(--background);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

body * {
    outline: none !important;
}

/* ************
        HEADER
   ************ */
header {
    padding: 2rem;
    display: flex;
    align-items: center;

    width: calc(100% - 4rem);

    position: fixed;
    z-index: 1000;

    background-image: linear-gradient(0deg, var(--gainsboro-overlay), var(--gainsboro-overlay)), var(--background);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;

    box-shadow: var(--white-transparent) 0px 1px 5px;
}

header p {
    margin: 0;
}

#burger-button {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--eagle-blue);
    margin-left: 15px;
    transition: fill .2s ease-in-out;
    margin-top: 5px;
}

#burger-button:hover {
    fill: var(--eagle-blue-clear);
}

#nav {
    display: flex;
    width: 100%;
    align-items: center;
}

#nav > .spacer {
    width: 100%;
}

#nav a {
    color: var(--eagle-blue);
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.3rem;
    margin-right: 20px;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

#nav a:hover {
   color: var(--eagle-blue-clear);
}

#nav > a > svg {
    width: 14rem;
    fill: var(--eagle-blue);
    height: 4.6rem;
}

#burger-content {
    position: fixed;
    right: -110%;
    top: 0;
    background: var(--gainsboro);
    height: 100%;
    width: 20rem;
    padding-top: 7rem;

    background-image: linear-gradient(0deg,var(--gainsboro-overlay),var(--gainsboro-overlay)),var(--background);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    box-shadow: var(--white-transparent) 0 1px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right .5s ease-in-out;
}

#burger-content.open {
    right: 0;
}

#burger-content > a {
    margin-right: 0;
    margin-bottom: 15px;
}

#burger-content > a.mobile {
    display: none;
}

#burger-close {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--eagle-blue);
    transition: fill .2s ease-in-out;
    position: absolute;
    top: 25px;
    right: 25px;
}

#burger-close:hover {
    fill: var(--eagle-blue-clear);
}

/* END HEADER */

#content {
    max-width: 100rem;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    flex: 3;
    color: var(--eagle-blue);
    font-size: 1.3em;
    margin-top: 10rem;
}

footer {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: var(--eagle-blue) !important;
}

/* *******
    STYLES
********** */
.center {
    text-align: center;
}
/* social icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a:not(:last-child) {
    margin-right: 15px;
}
.social-icons a:hover svg {
    fill: var(--eagle-blue-clear);
}
.social-icons svg {
    width: 2rem;
    height: 2rem;
    fill: var(--eagle-blue);
    transition: fill .3s ease-in-out;
}
.social-icons p {
    font-size: 0;
}
/* list image */
.list_image ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list_image li {
    max-width: 35em;
    font-size: 1.1em;
    border-radius: 15px;
    background-size: cover;
    width: 100%;
    background: var(--eagle-blue);
    transition: background .2s ease-in-out;
}
.list_image li:hover {
    background: var(--eagle-blue-clear);
}
.list_image li:not(:last-child) {
    margin-bottom: 15px;
}
.list_image li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    padding: 15px;
    background: transparent;
    border-radius: 15px;
}
.list_image li p {
    margin: 0;
}
.list_image li a:hover {
    text-decoration: none;
}
.list_image li a:hover img {
    transform: scale(1.1);
}
.list_image li img {
    max-width: 5rem;
    margin-right: 15px;
    transition: all .5s ease-in-out;
    transform: scale(.9);
}

@media all and (max-width: 1000px) {
    #content {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media all and (max-width: 850px) {
    #content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media all and (max-width: 770px) {
    #nav > a:not(:first-child) {
        display: none;
    }

    #burger-content a.mobile {
        display: initial;
    }
}

@media all and (max-width: 600px) {
    #content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media all and (max-width: 500px) {
    #burger-content {
        width: 100%;
    }
}