:root {
    --rich-black-light: #101010;
    --eerie-black: #1a1a1a;
    --white: #fff;
    --sky-blue-crayola: #3fc7e2;
    --cyan-progress: #06ade4;
    --cg-blue: #057296;
    --medium-aquamarine: #0ce4b9;
    --white-transparent: #ffffff6b;
    --white-very-transparent: #ffffff1f;

    --background: url(/imgs/karl-bewick-reQNXC_J5M4-unsplash_medium.jpg);
    --background-small: url(/imgs/karl-bewick-reQNXC_J5M4-unsplash_small.jpg);
}

body {
    margin: 0;
    padding: 0;
    background: var(--rich-black-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;

    background-image: var(--background);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

body * {
    outline: none !important;
}

/* ************
        HEADER
   ************ */
header {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    display: flex;
    align-items: center;

    width: calc(100% - 3.5rem);

    position: fixed;
    z-index: 1000;

    background-image: var(--background);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;

    box-shadow: var(--white-transparent) 0px 1px 5px;
}

/* Animated logo */
.animated-logo {
    height: 3.5rem;
    width: 7.4rem;
    transition: margin .5s;
}
.animated-logo svg {
    fill: var(--white);
    height: 3.5rem;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity .8s;
}
.animated-logo svg:nth-child(1) {
    position: absolute;
}
.animated-logo svg:nth-child(2) {
    opacity: 0;
}
.animated-logo:hover > a > svg:nth-child(1) {
    opacity: 0;
}
.animated-logo:hover > a > svg:nth-child(2) {
    opacity: 1;
}
.animated-logo > a {
    position: relative;
    display: block;
}
/* end animated logo */

header > .nav-spacer {
    width: 100%;
}

header.markdown > a {
    padding-top: 5px;
    color: var(--white);
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;
}

header #open-burger-menu {
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    fill: #fff;
    margin-left: 25px;
    cursor: pointer;
}

header #burger-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -110%;
    max-width: calc(100% - 2em);
    width: 25em;
    height: 100%;
    align-items: center;
    overflow: auto;
    padding-top: 5em;
    transition: right .5s ease-in-out;
    margin: 1em;
    border-radius: 15px;
    height: calc(100% - 2em);
    z-index: 100000000;
    background: var(--background);
    background-size: cover;
    box-shadow: var(--white-transparent) -3px -3px 5px,#ffffff4f 3px 3px 5px;
    background-position: 0%;
}
header #burger-content.open {
    right: 0;
}

header #close-burger-menu {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 2rem;
    width: 2rem;
    fill: #fff;
}

header #burger-content a {
    margin-top: 15px;
    color: var(--white);
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2em;
}

@media all and (max-width: 650px) {
    header.markdown > a {
        display: none;
    }
}
/* END HEADER */

#content {
    max-width: 100rem;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    flex: 3;
    color: var(--white);
    font-size: 1.3em;
    margin-top: 10rem;
}

footer {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #fff !important;
}

/* *******
    STYLES
********** */
.center {
    text-align: center;
}
/* social icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a:not(:last-child) {
    margin-right: 15px;
}
.social-icons a:hover svg {
    fill: var(--white-transparent);
}
.social-icons svg {
    width: 2rem;
    height: 2rem;
    fill: var(--white);
    transition: fill .3s ease-in-out;
}
.social-icons p {
    font-size: 0;
}
/* list image */
.list_image ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list_image li {
    max-width: 35em;
    color: var(--white);
    font-size: 1.1em;
    border-radius: 15px;
    box-shadow: var(--white-transparent) -3px -3px 5px, var(--white-transparent) 3px 3px 5px;
    background: var(--background-small);
    background-size: cover;
    width: 100%;
}
.list_image li:not(:last-child) {
    margin-bottom: 15px;
}
.list_image li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    padding: 15px;
    background: transparent;
    border-radius: 15px;
    transition: background .2s ease-in-out;
}
.list_image li p {
    margin-bottom: 0;
}
.list_image li a:hover {
    text-decoration: none;
    background: var(--white-very-transparent);
}
.list_image li a:hover img {
    transform: scale(1.1);
}
.list_image li img {
    max-width: 5rem;
    margin-right: 15px;
    transition: all .5s ease-in-out;
    transform: scale(.9);
}
/* partners */
.partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.partners img {
    width: 10rem;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.partners a:hover img {
    opacity: .6;
}

@media all and (max-width: 1000px) {
    #content {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media all and (max-width: 850px) {
    #content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media all and (max-width: 600px) {
    #content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}